.ShareList {
  border: 1px $gray-light solid;
  padding: 20px;
  margin: 20px;

  > h4:first-child {
    margin-top: 0;
  }

  h4 {
    margin: 0;
    margin-top: 30px;
    margin-bottom: 10px;
  }

  // Just to match the tweet button styling on this page
  > .btn {
    padding-left: 9px;
    padding-right: 10px;

    .glyphicon {
      top: 2px;
    }
  }

  > .form-group {
    margin-top: 5px;
    margin-bottom: 0;
  }
}

.clipboard-mobile {
  display: none;
}

.clipboard {
  margin-top: 7px;
}

@media only screen
  and (min-width: 320px)
  and (max-width: 1024px) {

  .clipboard {
    display: none;
  }

  .clipboard-mobile {
    display: initial;
  }

  .clipboard-mobile a {
    margin-top: 7px;
    padding-left: 10px;
    padding-right: 10px;
  }
}